
body{
	background-color:lightsalmon;
}
body{
	margin: 0;
	padding: 0;
}
.fondo{
	background-image: url('co.jpg');
	width: 100%;

	background-size: cover;
	background-position: center;
}
.mu{
	text-align: center;
	font-style: bold;
	font-family:arial ;
	color: black; 
}
.titulos{
	text-align: center;
	font-style: bold;
	font-family:Mistral;
	color: black;
font-size: 40px;
}
.tabla1{
	font-size: 20px;
	font-family: algerian;
	color: black;
	text-align: center;
}